* {
    box-sizing: border-box;
}

body {
    background: #282828;
    font-family: 'Anton', sans-serif;
    color: #EEEEEE;
    margin: 5px;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

#gameSummary {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

#gameSummary > div {
    display: flex;
    align-items: center;
    gap: 15px;
}

#mainFrame {
    display: flex;
    width: 100%;
    height: 70vh;
    gap: 15px;
}

#targetBountySection {
    border: 4px solid green;
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#targetBountySection > h2 {
    font-size: 2em;
}

#targetBounty {
    font-size: 5em;
}

#targetsSection {
    border: 4px solid green;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: crosshair;
    flex-direction: column;
}

#targetButtons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#play {
    width: 90%;
    height: 90%;
    border: 5px solid red;
    background: transparent;
    color: #EEEEEE;
    font-size: 1em;
}

#play:hover {
    background: red;
}

/* #targetTable {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 4em;
} */

#targetTable {
    width: 100%;
    height: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
}

/* #targetsSection > #targetTable > div {
    display: flex;
    width: 18%;
    height: 18%;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
} */

#prorgessSection {
    display: flex;
    border: 4px solid green;
    width: 10%;
    height: auto;
    justify-content: center;
    align-items: flex-end;
}

#progressBar {
    border: 1px solid red;
    width: 70%;
    height: 0%;
    background-color: red;
    margin: 35px 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

footer > section {
    width: 90%;
}

footer > #info {
    align-self: center;
    justify-self: flex-end;
}

#refreshFrame {
    width: 75%;
    height: 50px;
    background: #53FC18;
    color: black;
}

.showPopup {
    padding: 18px 40px;
    background-color: purple;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1em;
    color: #EEEEEE;
}

.popUpContainer {
    position: absolute;
    width: 50%;
    height: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.popUpContainer.active {
    visibility: visible;
    opacity: 85%;
    transition: .4s ease;
}

.popUpContainer .popUpBox {
    width: 80%;
    height: 80%;
    transform: scale(0);
}

.popUpContainer.active .popUpBox {
    transform: scale(1);
    transition: .4s ease;
}

.popUpBox > h1 {
    font-size: 3em;
    text-align: center;
}

.popUpBox button {
    width: 100%;
    height: 10%;
    background-color: purple;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #EEEEEE;
}